.idea
__pycache__/
images/
generation/mesh_semantic.ply
generation/screenshots/
venv/
generation/generated/
generation/raw_screenshots/
generation/boxes/
generation/banner/
contour/results/
contour/mask_rcnn/
contour/results_with_counters/
contour/source/
contour/maximize_results/
contour/masks/
contour/by_color_results/
homography/source/
homography/cv2_results/
**/*.jpg
**/*.jpeg
**/*.png
**/*.npy
**/*.json
homography/corners.csv
sample.py
**/synthetic_ground_truth.csv