.idea
__pycache__/
images/
mesh_semantic.ply
screenshots/
venv/
generated/
raw_screenshots/
boxes/
banner/
contour/results/
contour/mask_rcnn/
contour/results_with_counters/
contour/source/
contour/maximize_results/
contour/masks/
