.idea
__pycache__/
venv/

# игнорирование датасетов и результатов обработки
**/*.jpg
**/*.jpeg
**/*.png
**/*.npy
**/*.ply
**/*.json
**/*.csv
**/*.txt
**/*.tsv
**/*.pnt
**/*.tar
**/*.mp4
**/*.avi

# пользовательские вспомогательные директории и файлы
**/*.etc.*
**/*_etc
